.env
.venv
__pycache__
cronlog.log
# ────────────────────────────── AppDaemon ──────────────────────────────
/server/appdaemon/config/*
!/server/appdaemon/config/apps/

# ───────────────────────────── Home Assistant ──────────────────────────
/server/homeassistant/config/*
!/server/homeassistant/config/configuration.yaml
!/server/homeassistant/config/include/
/server/homeassistant/config/include/influxdb.yaml

# ────────────────────────────── Mosquitto ──────────────────────────────
/server/mosquitto/

# ────────────────────────────── InfluxDB ───────────────────────────────
/server/influxdb/
